/zez-scripts/SF-Pro/
/zez-scripts/fonts/SF-Pro/

/zez-scripts/extras/
/zez-scripts/extras.tar.gz
/zez-scripts/extras.tar.gz.gpg
/extras/


/.config/waybar/icons/

/.config/quickshell/controlCenter/icons
/.config/quickshell/assets
/.config/quickshell/FileStructure.txt
/.config/0qt0/
