/zez-scripts/SF-Pro/
/zez-scripts/fonts/SF-Pro/
/.config/waybar/icons/

/.config/quickshell/controlCenter/icons
/.config/quickshell/assets
/.config/quickshell/FileStructure.txt
/.config/qt2/
/.config/qt3/
/.config/quickshell_backup/
