/* Config */
/* "height": 24, */
/* "spacing": -10, */

/* Variables */

/* Global settings */
* {
    font-family: "SF Pro Text", "Inter", sans-serif;
    font-weight: 500; /* medium */
    font-size: calc(28px * 0.5);
    color: rgba(255, 255, 255, 0.9);
    border: none;
    padding: 0 calc(5px * 0.5);
}

/* Waybar background */
#waybar {
    background: rgba(28, 28, 28, 0.75);

    /*background: rgba(0, 255, 0, 1);*/
}

/* Common module style */
#waybar .module {
    padding: 0 calc(30px * 0.5);
    transition: all 0.15s ease;
    border-radius: 6px;
    /*tooltip: none;*/
    /*-gtk-tooltip-mode: none;*/

    /*background: rgba(250, 0, 0, 0.3);*/
}

/* Only apply highlight when clicked (active), not on hover */
#waybar .module button:active {
    background: rgba(255, 255, 255, 0.15);
}
#clock button:active {
    background: rgba(255, 255, 255, 0.15);
}

#custom-apple,
#custom-apple:active {
    font-size: 22px;
}

#window {
    font-weight: 700;
    /*background: rgba(250, 0, 0, 0.3);*/
}

#workspaces {
    font-size: 22px;
}

menu {
    border-radius: 15px;
    background: #161320;
    color: #b5e8e0;
}
menuitem {
    border-radius: 15px;
}
